<% @lists.each do |list| %>
  <div class="card-product">
    <% if list.photo.attached?%>
      <%= cl_image_tag list.photo.key, height: 120, width: 120, crop: :fill %>
    <% else%>
      <img src=<%=list.image_url%> />
    <% end%>
    <div class="card-product-infos">
      <h2><strong><%= list.name %></strong></h2>
      <%= link_to "See this list", list_path(list), class:"btn btn-flat" %>
    </div>
  </div>
<% end %>
